# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment
.env
*.env.local

# Databases
databases/
wfuzz/

chrome_profile/
evidence/
credentials/credentials.dbs

# External tools
Villain/

# Large files
lst/rockyou.txt
